<div>
    <h1>Bitacora</h1>
    <input type="number" class="form-control" id="txtOrden" name="orden">
    <button type="button" class="btn btn-info" ng-click="nuevaReceta()">Crear Orden de Proceso</button>

    <div class="form-group">
        <label>Receta: </label>
        <input type="text" class="form-control" id="txtReceta" name="nombreComponente" ng-model="componente.nombreComponente">
    </div>
    <div class="form-group">
        <label>Orden de Proceso: </label>
        <input type="text" class="form-control" id="txtOrdenProceso" name="nombreComponente" ng-model="componente.nombreComponente">
    </div>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Proceso</th>
            <th>Nombre Componente</th>
            <th>Cantidad Teorica</th>
            <th>Unidad Medida</th>
            <th>Cantidad Real</th>
            <th>Observación</th>
        </tr>
        </thead>
        <tbody>
            <tr ng-repeat="componente in componentes">
                <td>{{componente.proceso}}</td>
                <td>{{componente.nombreComponente}}</td>
                <td>{{componente.cantidadTeorica}}</td>
                <td>{{componente.unidadmedida}}</td>
                <td><input type="number" class="form-control" id="txtCantidadReal" name="cantidadReal" ng-model="bitacora.cantidadReal"></td>
                <td><input type="text" class="form-control" id="txtObservacion" name="observacion" ng-model="bitacora.observacion"></td>
            </tr>
        </tbody>
        <tfoot>
            <button type="button" class="btn btn-info" ng-click="guardarBitacora()">Guardar</button>
        </tfoot>
    </table>

</div>