<div>
    recetas

    <button type="button" class="btn btn-info" ng-click="nuevaReceta()">Crear Receta</button>

    <div>
        <ul class="list-group" ng-repeat="receta in recetas">
            <li class="list-group-item">{{receta.nombre}}</li>
        </ul>
    </div>

    <div ng-show="nuevaRecetaVisible">
        <form name="formulario" class="form-inline">
            <div class="form-group">
                <label>Nombre: </label>
                <input type="text" class="form-control" id="txtNombre" name="nombre" ng-model="receta.nombre">
            </div>

            <div class="form-group">
                <label>Densidad Inicial: </label>
                <input type="text" class="form-control" id="txtDensidadInicial" name="densidadInicial" ng-model="receta.densidadInicial">
            </div>

            <div class="form-group">
                <label>Densidad Final: </label>
                <input type="text" class="form-control" id="txtDensidadFinal" name="densidadFinal" ng-model="receta.densidadFinal">
            </div>

            <div>
                <button type="button" class="btn btn-success" ng-click="guardarReceta(receta)">Guardar</button>
            </div>
        </form>

        <div class="regresar">
            <button type="button" class="btn btn-success" ng-click="duplicar(receta)">Duplicar</button>
        </div>
    </div>

    <div class="regresar">
        <button type="button" class="btn btn-success" ng-click="duplicar(receta)">Nuevo Componente</button>
    </div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Proceso</th>
            <th>Orden</th>
            <th>Nombre Componente</th>
            <th>Cantidad Teorica</th>
            <th>Unidad medida</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="componente in componentes">
            <td>{{componente.proceso}}</td>
            <td>{{componente.orden}}</td>
            <td>{{componente.nombreComponente}}</td>
            <td>{{componente.cantidadTeorica}}</td>
            <td>{{componente.unidadmedida}}</td>
            <td><button type="button" class="btn btn-info" ng-click="editar(factor)">Editar</button> <button type="button" class="btn btn-danger">Eliminar</button></td>
        </tr>
        </tbody>
    </table>
</div>